{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}">

    <title>The Quilting Lilly</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static 'main/images/Header.png' %}" alt="The Quilting Lilly" style="width:238px;height:46px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to The Quilting Lilly</h1>
        <p class="lead">Welcome to The Quilting Lilly(TQL).  TQL is a homebased quilting service providing 2 kinds of services.  The first service is quilting those beautiful tops that are sitting around waiting to be finished.  The second is taking a stack of t-shirts and making them into a wonderful keepsake quilt to be cherished.</p>

        <p class="lead">For the quilting piecer who does want or know how to finish out that top that you’ve put so much work into, I will help you design and finish your quilt.  We will discuss quilting patterns and thread choices.  I can do simple edge to edge design, semi-custom, or some custom work.  I aim for a 3-4 week turn around. Let me help you finish and enjoy those tops that you have spent so much time putting together.</P>
        <p class="lead">For the person who is looking for a way to turn a stack of cherished t-shirts into a memorable keepsake, I will work with you on what style, quilting pattern, and thread choices you would like.  I aim for a 4-6 week turn around.  T-shirt quilts make wonderful quilts that have lots of meaning for personal use or as gifts.</p>
        <p class="lead">I have a 26” computerized quilting longarm by Innova which makes quilting so much fun.  I love watching a quilt come to life as it is getting stitched with a pattern to compliment the pieced top and fabric of a quilt.  I began quilting about 15 years ago but received my longarm in late 2015.  I continue to take classes and learn more about my craft when I have the opportunity.  Quilting is a wonderful expression of art with functionality.</p>
        <p class="lead">Let me help you complete your quilt or create that t-shirt keepsake.</p>
        <img src="{% static 'main/images/t-shirt_Ethans_w_Mustangs_and_Guitars.JPG' %}" alt="Quilt1" width="304" height="236"> 
      </div>

    </main><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'main/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  </body>
</html>
