{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'main/logos/favicon.ico' %}">

    <title>The Quilting Lilly</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static 'main/logos/Header.png' %}" alt="The Quilting Lilly" style="width:238px;height:46px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:index' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:previous_work' %}">Previous Work <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:pricing' %}">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
          </li>
        </ul>
        </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Examples of Previous Work</h1>
        <p class="lead">The following are some videos and pictures of previous work that I have done.<br> If you like what you see feel free to contact me to place an order!</p>
        <h2>Videos</h2>
        {% load get_videos %}
        {% get_videos as videos %}
        {% for file in videos %}
        {% with 'main/videos/'|add:file as static_video %}
        <video width="320" height="240" controls>
          <source src="{% static static_video %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        {% endwith %}
        {% endfor %}
        <h2>Images</h2>
        {% load get_images %}
        {% get_images as images %}
        {% for file in images %}
        {% with 'main/images/'|add:file as static_image %}
        <img src="{% static static_image %}" alt="{{ file }}" width="304" height="236">
        {% endwith %}
        {% endfor %}
      </div>

    </main><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'main/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  </body>
</html>
